.nav {
  background-color: #C4DDFA;
  font-family: serif;
  font-size: 30px;
  color: #000306;
  text-align: center;
  margin-top: -50px;
}

.nav li {
  display:inline;
}

.sparkle{
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2;
}

.title{
  position: relative;
  left: 50px;
  bottom: 60px;
  z-index: 3;
  margin: auto;
  display: block;
}

.ben{
  position:static;
  z-index: 1;
  padding: 0;
  margin: auto;
  display: block;
}

.sidebar {
  width: 200px;
  float: right;
  background-color: pink;
  padding: 10px;
  font-size: 20px;
  font-family: serif;
  color: white;
  text-align: center;

}

.column p {
  width: 150px;
  float: left;
  display:inline;
  padding-left: 30px;
}

.box1 {
  background-color: orange;
  font-family: monospace;
  font-size: 14px;
  border: 10px dotted black;
  padding: 10px;
  margin-right: 10px;

}

.box2 {
  background-color: purple;
  font-family: fantasy;
  font-size: 14px;
  padding: 10px;
  border: 10px dashed black;
  margin-right: 10px;

}

.box3 {
  background-color: green;
  font-family: inherit;
  font-size: 14px;
  border: 10px solid black;
  padding: 10px;
  margin-right: 10px;
}
